.message {

    grid-column: 2/3;

}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 15px;
margin-right: 1%;

}

.imageAndText img {

    height: 48px;
    width: 48px;
    align-content: flex-end;


}

.text {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    background-color: #0066cc;
    padding: 3px;
    gap: 5px;
    border-radius: 10px 10px 0px 10px;
    margin-bottom: 2%;
    word-break: break-word;
}

.text:after {
    content: "";
    position: absolute;
    clip-path: polygon(0 41%, 0% 100%, 100% 100%);
    width: 16px;
    height: 19px;
    background-color: #0066cc;
    left: 100%;
    bottom: 0%;
}

.name {
    color: white;
    font-weight: bold;
    font-size: 18px;
    align-self: flex-end;


}

.messageText {
    color: white;
    font-size: 16px;
}

.time {
    text-align: right;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 50px solid red;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    padding: 15px;
}

.avatarTime {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 10px;
}
