.friendMessage {

    display: flex;
    flex-direction: column;
    margin-top: 2%;

}

.friendImageAndText {
    display: flex;
    gap: 12px;
    position: relative;
    padding: 5px;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;

}

.friendText {
    position: relative;
    display: flex;
    gap: 5px;
    padding: 3px;
    background-color: #cbcbd9;
    border-radius: 10px 10px 10px 0px;

    flex-flow: column wrap;
    word-wrap: break-word;
    height: auto;
    justify-content: space-evenly;



}

.friendText::after {
    position: absolute;
    content: "";
    display: block;
    clip-path: polygon(100% 21%, 0% 100%, 100% 100%);
    background-color: #cbcbd9;
    width: 13px;
    height: 13px;
    right: 100%;
    bottom: 0%;
}

.friendName {
    color: black;
    font-weight: bold;
    font-size: 18px;
    align-self: flex-start;
}

.friendMessageText {
    word-break: break-word;

}

.friendTime {

    margin-left: 1.5%;
    width: 29px;
    height: 12px;
    font-size: 10px;
    position: absolute;
    top: 97%;
    left: 5px;
}

.friendImageAndTime {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;


}
